{{ define "main" }}
<br><br><br><br><br>
<div class="wrapper mt-5">
    <main>
<div class="section-header text-center">
        <h1>Postingan Terbaru</h1>
        <p>Apa saja sih yang baru di sini?</p>
    </div>
         
<div class="container">
    <div class="row">
        {{ range (.Paginate (where .Site.RegularPages "Section" "post")).Pages }}
        <div class="col-sm-4 mt-2 py-3 py-sm-2">
            <div class="card">
                <a href=" {{ .Permalink }} ">
                    <img src="{{ .Params.featured_image }}" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                        <h5 class="card-title"><a href=" {{ .Permalink }} ">{{ .Title }}</a></h5>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8239103031885616"
     crossorigin="anonymous"></script>
<!-- Vertical ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8239103031885616"
     data-ad-slot="7082438279"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
              </div>
            </div>
            {{ end }}

            <div class="artikel-pagination">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>

    </div>
</div>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8239103031885616"
     crossorigin="anonymous"></script>
<!-- Vertical ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8239103031885616"
     data-ad-slot="7082438279"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>   

            <section class="tentang container mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center mt-5" style="padding: 0px;">
                        <div class="tentang-content" style="padding:10px">
                            <h2>Tentang Hentai index</h2>
                            <p class="mt-5">hentai index adalah Websites download dan streming Hentai, jav dan bokep gratis tanpa spam iklan</p>
                        </div>
                        <div class="tentang-button">
                            <a href="https://discord.gg/w5APsW94">
                            <button
                                style="font-size: 14px; width: 160px;border-radius: 6px;height: 50px; margin-right: 20px;"
                                class="text-center btn btn-outline-primary mb-0 mt-5">Gabung Discord</button>
                                
                                
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8239103031885616"
     crossorigin="anonymous"></script>
<!-- Vertical ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8239103031885616"
     data-ad-slot="7082438279"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            </a>
                                <!--<button style="font-size: 14px; width: 160px;border-radius: 6px;height: 50px;"
                                class="text-center btn btn-primary mb-0 mt-5" href="#">Gabung Chat</button>-->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    
    {{ end }}