
<div class="anime-box">
   <ul>
      </li>
      <li style="text-align: center;">
         <strong>480p</strong>
         <a href="{{ .Get "download" }}" target="_blank" rel="nofollow noopener">UF</a> |
         <a href="{{ .Get "download" }}" target="_blank" rel="nofollow noopener">CU</a> |
         <a href="{{ .Get "download" }}" target="_blank" rel="nofollow noopener">GD</a> |
         <a href="{{ .Get "download" }}" target="_blank" rel="nofollow noopener">ZS</a> 
      </li>
      <li style="text-align: center;">
         <strong>720p</strong>
         <a href="{{ .Get "download" }}" target="_blank" rel="nofollow noopener">UF</a> |
         <a href="{{ .Get "download" }}" target="_blank" rel="nofollow noopener">CU</a> |
         <a href="{{ .Get "download" }}" target="_blank" rel="nofollow noopener">GD</a> |
         <a href="{{ .Get "download" }}" target="_blank" rel="nofollow noopener">ZS</a> 
      </li>
   </ul>
</div>


<link rel="stylesheet" type="text/css" href="https://madewgn.github.io/css/dl.css">

